#requirements.txt
ccxt
ta-lib
openai==0.28
requests
pandas
matplotlib
python-telegram-bot
qasync
newspaper3k
asyncio
ta
langdetect
datetime
mplfinance
numpy
lxml[html_clean]
# Additional libraries for technical indicators and data processing 
# add lxml[html_clean] for HTML parsing in newspaper3kv