ccxt
ta-lib
openai
requests
pandas
matplotlib
python-telegram-bot
qasync
newspaper3k
asyncio
sys
langdetect
mplfinance
datetime
threading
pytz
telegram
ta
telegram.ext
datetime
logging
re
memoria
sqlite3